body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex: 1;
}
form {
  flex: 1;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(88, 88, 88, 0.699);
  padding: 7px;
  margin: 5px;
  border-radius: 10px;
}

label {
  text-align: center;
}

textarea {
  width: 300px;
  height: 100px;
  resize: none;
}

input {
  width: 200px;
}

textarea,
select,
input[type="text"] {
  margin-top: 5px;
  margin-bottom: 15px;
}
